#!/bin/sh

# When you change these, don't forget to update the SystemD user
# environment files under ~/.config/environment.d
export PATH="$HOME/.local/bin:$PATH"
{{- if eq .chezmoi.os "linux" -}}
export _JAVA_AWT_WM_NONREPARENTING=1
{{- end -}}
