[credential "https://github.com"]
	helper =
	helper = {{ if eq .chezmoi.os "darwin" -}}
                   !/opt/homebrew/bin/gh auth git-credential
                 {{- else -}}
                   !gh auth git-credential
                 {{- end }}
[credential "https://gist.github.com"]
	helper =
	helper = {{ if eq .chezmoi.os "darwin" -}}
                   !/opt/homebrew/bin/gh auth git-credential
                 {{- else -}}
                   !gh auth git-credential
                 {{- end }}
[user]
	name = Javier Maldonado
	email = {{ if eq .chezmoi.os "darwin" -}}
                  javier.maldonado@gartner.com
                {{- else -}}
                  3goliad@gmail.com
                {{- end }}

[help]
    autocorrect = 15

[core]
    excludesfile = ~/.config/git/gitignore

[commit]
    verbose = true

[init]
    defaultBranch = main

[rebase]
    autoSquash = true
