{{- /* vim: ft=sh */ -}}
{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -euo pipefail

echo "[install-packages] Installing packages..." 1>&2
{{   if eq .chezmoi.osRelease.id "fedora" -}}
set -x
sudo dnf install \
    {{ range .commonpackages.fedora }} {{. | quote}} {{ end }}
set +x
{{   end -}}
{{ end -}}
echo "[install-packages] Done!" 1>&2
