[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
ExecStart=setxkbmap -display ":0" -option ctrl:swapcaps

[Install]
WantedBy=suspend.target
